.form-grid{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:18px;

    margin-top:15px;

}

mat-form-field{

    width:100%;

}

mat-dialog-content{

    min-width:550px;

}

mat-slide-toggle{

    margin-top:10px;

}