<div class="password-container">

    <mat-card>

        <h2>Change Password</h2>

        <mat-form-field appearance="outline">

            <mat-label>Current Password</mat-label>

            <input
                matInput
                type="password"
                [(ngModel)]="passwordData.oldPassword">

        </mat-form-field>

        <mat-form-field appearance="outline">

            <mat-label>New Password</mat-label>

            <input
                matInput
                type="password"
                [(ngModel)]="passwordData.newPassword">

        </mat-form-field>

        <mat-form-field appearance="outline">

            <mat-label>Confirm Password</mat-label>

            <input
                matInput
                type="password"
                [(ngModel)]="confirmPassword">

        </mat-form-field>

        <button
            mat-raised-button
            color="primary"
            (click)="changePassword()">

            Change Password

        </button>

    </mat-card>

</div>