.navbar{

    height:80px;

    background:white;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 30px;

    box-shadow:0 5px 18px rgba(0,0,0,.07);

}

.left-section h2{

    margin:0;

    color:#444;

}

.left-section p{

    margin-top:5px;

    color:#999;

    font-size:14px;

}

.search-box{

    width:320px;


    margin:0 auto;
    
    background:#F4F5FA;

    border-radius:30px;

    display:flex;

    align-items:center;

    padding:10px 18px;

    gap:10px;

}

.search-box input{

    border:none;

    outline:none;

    background:transparent;

    width:100%;

}

.right-section{

    display:flex;

    align-items:center;

    gap:20px;

}

.avatar{

    width:46px;

    height:46px;

    border-radius:50%;

    background:#8B5CF6;

    color:white;

    display:flex;

    justify-content:center;

    align-items:center;

    font-weight:bold;

}

.badge{

    position:absolute;

    background:red;

    color:white;

    width:18px;

    height:18px;

    border-radius:50%;

    font-size:11px;

    display:flex;

    justify-content:center;

    align-items:center;

    margin-left:15px;

    margin-top:-8px;

}
.notification-header{

    padding:15px;

    font-weight:600;

    font-size:16px;

    color:#1976d2;

}

.notification-item{

    display:flex;

    flex-direction:column;

    gap:4px;

    padding:6px 0;

}

.notification-item strong{

    font-size:14px;

}

.notification-item small{

    color:#666;

    font-size:12px;

}

.notification-menu{

    width:340px;

}
/* ================= PROFILE MENU ================= */

.profile-btn{

    min-width:auto;

    padding:4px 8px;

    display:flex;

    align-items:center;

    gap:6px;

    border-radius:30px;

}

.profile-info{

    display:flex;

    flex-direction:column;

    align-items:flex-start;

}

.name{

    font-weight:600;

}

.role{

    font-size:12px;

    color:#777;

}

.avatar{

    width:42px;

    height:42px;

    border-radius:50%;

    background:linear-gradient(135deg,#7C3AED,#EC4899);

    color:white;

    display:flex;

    justify-content:center;

    align-items:center;

    font-weight:bold;

}

.avatar.large{

    width:56px;

    height:56px;

    font-size:20px;

}

.menu-header{

    display:flex;

    gap:15px;

    align-items:center;

    padding:15px;

}

.menu-header h4{

    margin:0;

}

.menu-header small{

    color:#777;

}